<% if user_signed_in? %>
  <li><small>Logged in as <strong>@<%= current_user.username %></strong></small></li>
  <li><%= link_to 'Profile Home', user_page_path(:username => current_user.username) %></li>
  <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% elsif !user_signed_in? %>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Login", new_user_session_path %></li>
<% end %>
