<div class="row">
  <div class="post">
    <div class="avitar col-md-2 col-sm-3 col-xs-6">
      <%= link_to user_page_path(username: post.user.username) do %>
        <div class="thumbnail">
          <img src="<%=post.user.image%>" alt="Missing Image"/>
        </div>
      <% end %>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-5">
        <p class="post-body">
          <%= post.body %>
        </p>
      <p><em>submitted <%= time_ago_in_words(post.created_at) %> ago by @<%= post.user.username %></em></p>
        <% if current_user && (post.user != current_user) %>
          <div class="user-<%=post.user.id%>">
            <%= render :partial => 'posts/followlinks', :locals => {user: post.user} %>
          </div>
        <% end %>
    </div>
  </div>
</div>
