<h1>Thanks for signing up!</h1>

<h2>Please, tell us your name.</h2>

<%= bootstrap_form_for(@profile, url: wizard_path, method: :put) do |f| %>
<div class="row">
  <div class="field col-xs-8 col-sm-6">
    <div class="field">
      <%= f.text_area :first_name, autofocus: true %>
      <%= f.text_area :last_name, autofocus: true %>
    </div>
  </div>
</div>
<% end %>

<div class="actions">
  <%= f.submit "Next", :class => 'btn btn-primary' %>
  or <%= link_to "skip", next_wizard_path %>
</div>
